[submodule "dep/aho-corasick"]
	path = dep/aho-corasick
	url = https://github.com/peterhj/aho-corasick
[submodule "dep/bitflags"]
	path = dep/bitflags
	url = https://github.com/peterhj/bitflags
[submodule "dep/branches"]
	path = dep/branches
	url = https://github.com/peterhj/branches
[submodule "dep/fxhash2"]
	path = dep/fxhash2
	url = https://github.com/peterhj/fxhash2
[submodule "dep/itoa"]
	path = dep/itoa
	url = https://github.com/peterhj/itoa
[submodule "dep/libc"]
	path = dep/libc-0.2
	url = https://github.com/peterhj/libc
[submodule "dep/memchr"]
	path = dep/memchr
	url = https://github.com/peterhj/memchr
[submodule "dep/once_cell"]
	path = dep/once_cell
	url = https://github.com/peterhj/once_cell
[submodule "dep/paste"]
	path = dep/paste
	url = https://github.com/peterhj/paste
[submodule "dep/proc-macro2"]
	path = dep/proc-macro2
	url = https://github.com/peterhj/proc-macro2
[submodule "dep/quote"]
	path = dep/quote
	url = https://github.com/peterhj/quote
[submodule "dep/rclite"]
	path = dep/rclite
	url = https://github.com/peterhj/rclite
[submodule "dep/regex"]
	path = dep/regex
	url = https://github.com/peterhj/regex
[submodule "dep/ryu"]
	path = dep/ryu
	url = https://github.com/peterhj/ryu
[submodule "dep/serde"]
	path = dep/serde
	url = https://github.com/peterhj/serde
[submodule "dep/serde_json"]
	path = dep/serde_json
	url = https://github.com/peterhj/serde_json
[submodule "dep/serde_json_fmt"]
	path = dep/serde_json_fmt
	url = https://github.com/peterhj/serde_json_fmt
[submodule "dep/signal_hook"]
	path = dep/signal_hook
	url = https://github.com/peterhj/signal_hook
[submodule "dep/smol_str"]
	path = dep/smol_str
	url = https://github.com/peterhj/smol_str
[submodule "dep/syn"]
	path = dep/syn
	url = https://github.com/peterhj/syn
[submodule "dep/term_colors"]
	path = dep/term_colors
	url = https://github.com/peterhj/term_colors
[submodule "dep/time"]
	path = dep/time-0.1
	url = https://github.com/peterhj/time-0.1
[submodule "dep/unicode-ident"]
	path = dep/unicode-ident
	url = https://github.com/peterhj/unicode-ident
[submodule "dep/autocfg"]
	path = dep/autocfg
	url = https://github.com/peterhj/autocfg
[submodule "dep/byteorder"]
	path = dep/byteorder
	url = https://github.com/peterhj/byteorder
[submodule "dep/cfg-if"]
	path = dep/cfg-if
	url = https://github.com/peterhj/cfg-if
[submodule "dep/chardetng"]
	path = dep/chardetng
	url = https://github.com/peterhj/chardetng
[submodule "dep/crc32fast"]
	path = dep/crc32fast
	url = https://github.com/peterhj/crc32fast
[submodule "dep/diffy"]
	path = dep/diffy
	url = https://github.com/peterhj/diffy
[submodule "dep/encoding_rs"]
	path = dep/encoding_rs
	url = https://github.com/peterhj/encoding_rs
[submodule "dep/getrandom"]
	path = dep/getrandom
	url = https://github.com/peterhj/getrandom
[submodule "dep/gunzip"]
	path = dep/gunzip
	url = https://github.com/peterhj/gunzip
[submodule "dep/heck"]
	path = dep/heck
	url = https://github.com/peterhj/heck
[submodule "dep/indoc"]
	path = dep/indoc
	url = https://github.com/peterhj/indoc
[submodule "dep/memoffset"]
	path = dep/memoffset
	url = https://github.com/peterhj/memoffset
[submodule "dep/os_socketaddr"]
	path = dep/os_socketaddr
	url = https://github.com/peterhj/os_socketaddr
[submodule "dep/parking_lot"]
	path = dep/parking_lot
	url = https://github.com/peterhj/parking_lot
[submodule "dep/portable-atomic"]
	path = dep/portable-atomic
	url = https://github.com/peterhj/portable-atomic
[submodule "dep/pyo3"]
	path = dep/pyo3
	url = https://github.com/peterhj/pyo3
[submodule "dep/scopeguard"]
	path = dep/scopeguard
	url = https://github.com/peterhj/scopeguard
[submodule "dep/smallvec"]
	path = dep/smallvec
	url = https://github.com/peterhj/smallvec
[submodule "dep/target-lexicon"]
	path = dep/target-lexicon
	url = https://github.com/peterhj/target-lexicon
[submodule "dep/textwrap"]
	path = dep/textwrap
	url = https://github.com/peterhj/textwrap
[submodule "dep/triomphe"]
	path = dep/triomphe
	url = https://github.com/peterhj/triomphe
[submodule "dep/uv"]
	path = dep/libuv_ffi
	url = https://github.com/peterhj/uv
